flows (1).json
[{"id":"661d80b7.ab878","type":"tab","label":"ระบบถังขยะอัจฉริยะ_ถังที่2","disabled":false,"info":""},{"id":"cda531c8.26a8f","type":"mosca in","z":"661d80b7.ab878","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"48f2c2a5.622adc","type":"mqtt out","z":"661d80b7.ab878","name":"","topic":"ser","qos":"0","retain":"","broker":"d36e71e8.7d5c2","x":370,"y":100,"wires":[]},{"id":"f610b6e6.97fdb8","type":"ui_button","z":"661d80b7.ab878","name":"","group":"e9c635d1.038a58","order":1,"width":0,"height":0,"passthru":false,"label":"OPEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"ser","x":90,"y":100,"wires":[["48f2c2a5.622adc"]]},{"id":"bcbc0e77.e2791","type":"mqtt in","z":"661d80b7.ab878","name":"","topic":"sensor/humid","qos":"2","datatype":"auto","broker":"7e9a1534.53ca0c","x":110,"y":220,"wires":[["f926cac.dd20138","9ea32c27.99095","bc2fb64c.266c58","833d65d7.5619b8"]]},{"id":"f926cac.dd20138","type":"join","z":"661d80b7.ab878","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":320,"wires":[["24de6730.bbda58"]]},{"id":"24de6730.bbda58","type":"function","z":"661d80b7.ab878","name":"","func":"var newMsg = { payload: msg.payload.split(\",\") };\nnewMsg.topic=\"insert into ON_2 values(NULL,'\"+newMsg.payload[1]+\"','\"+newMsg.payload[2]+\"',CURRENT_TIMESTAMP)\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["b8aadd28.14db3"]]},{"id":"b8aadd28.14db3","type":"mysql","z":"661d80b7.ab878","mydb":"631da9a.676d358","name":"","x":890,"y":320,"wires":[[]]},{"id":"7a4fb7cc.fc37e8","type":"mqtt in","z":"661d80b7.ab878","name":"","topic":"sensor/us","qos":"2","datatype":"auto","broker":"7e9a1534.53ca0c","x":100,"y":400,"wires":[["f926cac.dd20138","e6281c49.b4077","e6cef588.9e2e08","955c2314.e60da"]]},{"id":"e6281c49.b4077","type":"function","z":"661d80b7.ab878","name":"","func":"if (msg.payload <= 5){\n    msg.payload = \"ขณะนี้ถังขยะถังที่ 1 ขยะในถังใกล้เต็มกรุณานำไปทิ้ง\"+ msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["62a751fe.1ec19"]]},{"id":"62a751fe.1ec19","type":"function","z":"661d80b7.ab878","name":"line","func":"msg.headers = {\n\t'content-type':'application/x-www-form-urlencoded',\n\t'Authorization':'Bearer Pn1NllQw6bXYTcz7kmL5isJ9LGVQdbZCyjDieAGuSgG'\n};\nmsg.payload = {\"message\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":380,"wires":[["d6707ca6.28761"]]},{"id":"d6707ca6.28761","type":"http request","z":"661d80b7.ab878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":380,"wires":[[]]},{"id":"a8c9be38.94c8b","type":"function","z":"661d80b7.ab878","name":"line","func":"msg.headers = {\n\t'content-type':'application/x-www-form-urlencoded',\n\t'Authorization':'Bearer Pn1NllQw6bXYTcz7kmL5isJ9LGVQdbZCyjDieAGuSgG'\n};\nmsg.payload = {\"message\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":260,"wires":[["31170aa0.2cd7d6"]]},{"id":"31170aa0.2cd7d6","type":"http request","z":"661d80b7.ab878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":260,"wires":[[]]},{"id":"bc2fb64c.266c58","type":"function","z":"661d80b7.ab878","name":"","func":"if (msg.payload >= 120){\n    msg.payload = \"ขณะนี้ถังขยะถังที่1 ความชื้นในถังมิมาณสูง \"+ msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["a8c9be38.94c8b"]]},{"id":"9ea32c27.99095","type":"ui_chart","z":"661d80b7.ab878","name":"","group":"b74f2b03.c3edd8","order":3,"width":0,"height":0,"label":"ความชื้น","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":220,"wires":[[]]},{"id":"e6cef588.9e2e08","type":"ui_gauge","z":"661d80b7.ab878","name":"","group":"f75fdc9c.9e06","order":0,"width":0,"height":0,"gtype":"gage","title":"ปริมาณขยะ","label":"cm.","format":"{{value}}","min":"30","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":420,"wires":[]},{"id":"8c7a7be8.a2c218","type":"inject","z":"661d80b7.ab878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM ON_2 ORDER BY id DESC","payload":"","payloadType":"date","x":530,"y":460,"wires":[["7920a7ec.eaf208"]]},{"id":"36892d4.b4eafd2","type":"ui_template","z":"661d80b7.ab878","group":"e9c635d1.038a58","name":"","order":3,"width":"6","height":"8","format":"<table style=\"width:100%;font-size: 12px;\">\n<tr>\n<th>ลำดับ</th>\n\n<th>ความชื้น</th>\n<th>ปริมาณขยะ</th>\n<th>เวลา</th>\n</tr>\n<tr ng-repeat=\"x in msg.payload | limitTo:20\">\n<td>{{msg.payload[$index].id}}</td>\n<td>{{msg.payload[$index].himid}}</td>\n<td>{{msg.payload[$index].us}}</td>\n<td>{{msg.payload[$index].timerecord}}</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":460,"wires":[[]]},{"id":"7920a7ec.eaf208","type":"mysql","z":"661d80b7.ab878","mydb":"631da9a.676d358","name":"","x":720,"y":460,"wires":[["36892d4.b4eafd2"]]},{"id":"833d65d7.5619b8","type":"ui_gauge","z":"661d80b7.ab878","name":"","group":"b74f2b03.c3edd8","order":0,"width":0,"height":0,"gtype":"gage","title":"ความชื้น","label":"cm.","format":"{{value}}","min":"0","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":180,"wires":[]},{"id":"955c2314.e60da","type":"ui_chart","z":"661d80b7.ab878","name":"","group":"f75fdc9c.9e06","order":3,"width":0,"height":0,"label":"ปริมาณขยะ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":500,"wires":[[]]},{"id":"589353e0.cf333c","type":"ui_form","z":"661d80b7.ab878","name":"","label":"","group":"e9c635d1.038a58","order":2,"width":0,"height":0,"options":[{"label":"วัน/เดือน/ปี เริ่มต้น","value":"a","type":"date","required":true,"rows":null},{"label":"วัน/เดือน/ปี สิ้นสุด","value":"b","type":"date","required":true,"rows":null}],"formValue":{"a":"","b":""},"payload":"","submit":"ค้นหา","cancel":"","topic":"","x":510,"y":540,"wires":[["499f3979.56d538"]]},{"id":"499f3979.56d538","type":"function","z":"661d80b7.ab878","name":"","func":"msg.topic=\"SELECT * FROM `ON_2` WHERE id< 500 AND `timerecord` BETWEEN '\"\n+msg.payload.a.substring(0,10)+\"%' AND '\"+msg.payload.b.substring(0,10)+\n\"%' ORDER BY `ON_2`.`id` DESC\"\nreturn msg ; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["a356df65.1223f","7920a7ec.eaf208"]]},{"id":"a356df65.1223f","type":"debug","z":"661d80b7.ab878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":540,"wires":[]},{"id":"d36e71e8.7d5c2","type":"mqtt-broker","z":"","name":"","broker":"35.240.143.198","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e9c635d1.038a58","type":"ui_group","z":"","name":"DATA_CONTROL","tab":"6ed8c3e5.c4cf6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e9a1534.53ca0c","type":"mqtt-broker","z":"","name":"","broker":"35.240.143.198","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"631da9a.676d358","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"data","tz":""},{"id":"b74f2b03.c3edd8","type":"ui_group","z":"","name":"HUMID","tab":"6ed8c3e5.c4cf6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"f75fdc9c.9e06","type":"ui_group","z":"","name":"QUANTITY","tab":"6ed8c3e5.c4cf6c","order":3,"disp":true,"width":"6","collapse":false},{"id":"6ed8c3e5.c4cf6c","type":"ui_tab","z":"","name":"ถังที่2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]